<div class="container" >
    <h1 style="text-decoration: underline;" >Git Share !</h1>
    <div>
        <h1> lets connect to developers </h1>
    </div>
    <div>
        <div>
            <form #form="ngForm" class="form-container"  (ngSubmit)="submitForm(form)"  > 
                <input type="text" name="username" ngModel placeholder="username" >
                <button  type="submit">Search</button>
            </form>
        </div>
        <div class="user-details" *ngFor="let user of userData$|async " >
              <img src={{user.avatar_url}} alt="img">
              <p>{{user.name}} </p>
              <p>Most Recent Activity of {{user.login}}</p>
              <div class="stats" >
                  <p>  repository  <span> {{user.public_repos}} </span> </p>
                  <p>Gits  <span> {{user.public_gists}} </span> </p>
                  <p>Following  <span> {{user.following}} </span> </p>
                  <p>Followers  <span> {{user.followers}} </span> </p>
              </div>
              <div class="events-container" >
                   <div *ngFor="let user of userEventData$|async" >
                       <div class="event" *ngIf="user.type==='PullRequestEvent'; else elseBlock"  >
                           <h2>{{user.type}}</h2>
                           <p>{{user.created_at | date }} </p>
                           <h3> {{user.repo.url | subtring }} </h3>
                           <p>Related Commits</p>
                           <div>
                            <a href={{user.payload.pull_request.url}}  target="_blank" > Watch Pull Request </a>
                            
                           </div>
                       </div>

                       <ng-template #elseBlock >
                           <div class="event-2" >
                               <h2>{{user.type}}</h2>
                               <p>{{user.created_at | date }} </p>
                               <h3> {{user.repo.url | subtring }} </h3>
                           </div>
                       </ng-template>
                   </div>
              </div>
        </div>
    </div>
    <div class="footer" >
        <p>Made with love by pankaj pandey </p>
    </div>
</div>
